<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'vets')}">

<body>

  <h2>Veterinarians</h2>

  <table id="vets" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Specialties</th>
        <th>Home visits</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="vet : ${vets.vetList}">
<<<<<<< HEAD
      <td>
     	 <a th:href="@{/vets/vets/__${vet.id}__}" th:text="${vet.firstName + ' ' + vet.lastName}"></a>
       </td> 
        
=======
        <td>
         <a th:href="@{/vets/__${vet.id}__}" th:text="${vet.firstName + ' ' + vet.lastName}"/></a>
         </td>
>>>>>>> refs/heads/master
        <td><span th:each="specialty : ${vet.specialties}"
          th:text="${specialty.name + ' '}" /> <span
          th:if="${vet.nrOfSpecialties == 0}">none</span></td>
<<<<<<< HEAD
          <td th:text="${vet.homeVisits} ? 'Yes' : 'No'"></td>
=======
          <td th:text="${vet.homeVisits} ? 'Yes' : 'No'"> </td>
>>>>>>> refs/heads/master
      </tr>
    </tbody>
    
    <a class="btn btn-default" th:href="@{/vets/new}">Add vet</a>
  </table>
</body>
</html>
